.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

@include for-tablet-portrait-up {
    .container {
        padding: 0;
        width: 576px;
    }
}

@include for-tablet-landscape-up {
    .container {
        width: 850px;
        max-width: 100%;
    }
}

@include for-desktop-up {
    .container {
        width: 1160px;
    }
}