.navbar {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            margin-right: 16px;
        }
    }

    &__actions {
        display: block;
        align-items: center;
    }
}