table {
    width: 100%;
}

.small-col {
    max-width: 30px;
}

td {
    width: 15%;
}

input {
    min-width: unset;
    position: relative;
    left: -9px;
    padding: 3px 8px;
    border: 1px solid rgb(224 224 224);
    border-radius: 3px;
}

.products-list-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 24px 0;
    font-size: 1.3em;
}